@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 767px;
  min-width: 320px;
  margin: auto;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  padding: 3px;
  box-shadow: 1px 1px 6px grey;
}
header h1 {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 2px;
}
header .index {
  margin-right: 100px;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  gap: 17px;
}
main .city i {
  font-size: 20px;
}
main .city h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 20px;
  font-weight: bold;
}

main .explore {
  text-align: center;
  background-color: #f9f8f6;
  padding-bottom: 15px;
}
main .explore h2 {
  margin: 0;
  padding-top: 45px;
  font-size: 26px;
  font-weight: bold;
}
main .explore p {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 32px;
  color: #a39f9f;
  font-size: 22px;
}

.fonction {
  border: 2px solid green;
  height: 400px;
  padding-top: 40px;
}
.fonction h2 {
  height: 60px;
  font-size: 25px;
  margin-left: 20px;
}
.fonction .fontion__list {
  display: flex;
}
.fonction .fonction__item {
  width: 90%;
  align-items: center;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  background-color: #f2F2F2;
  margin-left: 25px;
  margin-bottom: 25px;
  height: 70px;
  box-shadow: 1px 1px 6px grey;
}
.fonction .fonction__item .fonction__num {
  background-color: #AF7AC5;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 27px;
  margin-left: -10px;
}
.fonction .fonction__item .fonction__icon {
  width: 20px;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  padding: 0 9px 0 15px;
  color: darkgrey;
  font-weight: bold;
}
.fonction .fonction__item .fonction__txt {
  font-size: 19px;
  font-weight: bold;
}
.fonction .fonction__item:hover {
  transition: 0.4s;
  filter: brightness(97%);
  color: #AF7AC5;
}

.explore button {
  width: 59%;
  height: 57px;
  background: linear-gradient(#e991d1 10%, #9356dc 90%);
  border-radius: 27px;
  cursor: pointer;
  margin-bottom: 60px;
  padding: 15px;
  color: white;
  font-size: 18px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  transition-duration: 1s;
}

.explore button:hover {
  filter: brightness(110%);
}

#restaurants {
  border: 2px solid red;
  background-color: #F2F2F2;
  padding: 40px 20px;
  margin-top: 38px;
}
#restaurants h2.restaurants__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 36px;
}
#restaurants .card {
  border: 2px solid green;
  margin-bottom: 20px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 260px;
}
#restaurants .card a {
  text-decoration: none;
}
#restaurants .card .card__image {
  display: flex;
  position: relative;
}
#restaurants .card .card__image img {
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#restaurants .card .card__image__textcover {
  position: relative;
  padding: 6px 20px 6px 20px;
  border-radius: 3px;
  background-color: #99E2D0;
  font-size: 17px;
  font-weight: bolder;
  color: #085227;
  top: 10%;
  left: 67%;
}
#restaurants .card .card__descript {
  display: flex;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: relative;
  border: 2px solid green;
  top: 51%;
}
#restaurants .card .card__descript .card__descript__title {
  margin: 0;
  padding-top: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}
#restaurants .card .card__descript .card__descript__place {
  font-size: 12px;
}
#restaurants .card .card__descript__icon {
  display: flex;
}

header {
  position: relative;
  display: flex;
  align-items: center;
}
header .home_back {
  margin-left: 20px;
}
header .back__icon {
  color: #505050;
  font-size: 23px;
}
header .title {
  padding-left: 60px;
}

main .banner img {
  width: 100%;
  height: 200px;
}

.menu {
  background-color: gainsboro;
  border-radius: 20px 20px 0 0;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20PX;
}
.menu .menu__dishes {
  border: 1px solid green;
}
.menu .menu__dishes .dish {
  background-color: white;
  border-radius: 10px;
}

#footer {
  margin-top: 60px;
  border: 2px solid blue;
  background-color: #302a2a;
  color: #fff;
  padding: 25px;
  position: relative;
  top: 1177px;
}

.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 20px;
  font-weight: inherit;
  margin-bottom: 15px;
}
.footer__li {
  list-style: none;
  padding: 0;
}
.footer__li--item {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400px;
}
.footer__li--item a {
  color: #fff;
  text-decoration: none;
}
.footer__li--item a:hover {
  color: #AF7AC5;
}
.footer__li--item i {
  width: 25px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
