@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 767px;
  min-width: 320px;
  margin: auto;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  padding: 3px;
  box-shadow: 0px 0px 6px 0px grey;
}
header h1 {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 2px;
}
header .index {
  margin-right: 100px;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  gap: 17px;
}
main .city i {
  font-size: 15px;
}
main .city h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 15px;
  font-weight: 500;
}

main .explore {
  text-align: center;
}
main .explore h2 {
  margin: 0;
  padding-top: 45px;
  font-size: 23px;
}
main .explore p {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 32px;
  font-size: 18px;
}

main .steps h2 {
  margin-top: 90px;
  margin-bottom: 33px;
}

main .steps li {
  width: 100%;
  background-color: #bdb3b3;
  border-radius: 15px;
  width: 70%;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0px 0px 6px 0px grey;
}

.explore button {
  width: 53%;
  background: linear-gradient(#ff79da 10%, #9356dc 90%);
  border-radius: 27px;
  padding: 15px;
  color: white;
  font-size: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#restaurants {
  background-color: #F2F2F2;
  padding: 40px 20px;
}
#restaurants h2.restaurants__title {
  margin: 0;
  padding-bottom: 20px;
}
#restaurants .card {
  border: 2px solid green;
  margin-bottom: 20px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 260px;
}
#restaurants .card .card__image {
  display: flex;
  position: relative;
}
#restaurants .card .card__image img {
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#restaurants .card .card__image__textcover {
  position: relative;
  border: 1px solid yellow;
  background-color: antiquewhite;
  top: 10%;
  left: 75%;
}
#restaurants .card .card__descript {
  height: 60px;
  display: flex;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: relative;
  border: 2px solid green;
  top: 55%;
}
#restaurants .card .card__descript .card__descript__title {
  margin: 0;
  padding-top: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}
#restaurants .card .card__descript .card__descript__place {
  font-size: 12px;
}
#restaurants .card .card__descript__icon {
  display: flex;
}

header {
  position: relative;
  display: flex;
  align-items: center;
}
header .home_back {
  margin-left: 20px;
}
header .back__icon {
  color: #505050;
  font-size: 23px;
}
header .title {
  padding-left: 60px;
}

main .banner img {
  width: 100%;
  height: 200px;
}

.menu {
  background-color: gainsboro;
  border-radius: 20px 20px 0 0;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20PX;
}
.menu .menu__dishes {
  border: 1px solid green;
}
.menu .menu__dishes .dish {
  background-color: white;
  border-radius: 10px;
}

#footer {
  background-color: #302a2a;
  color: #fff;
  padding: 25px;
}

.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 20px;
  font-weight: inherit;
  margin-bottom: 15px;
}
.footer__li {
  list-style: none;
  padding: 0;
}
.footer__li--item {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400px;
}
.footer__li--item a {
  color: #fff;
  text-decoration: none;
}
.footer__li--item a:hover {
  color: #AF7AC5;
}
.footer__li--item i {
  width: 25px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
