*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Colors */
/* Fonts*/
/* Media Queries */
h1 {
  font-family: "shrikhand", cursive, sans-serif;
}

h2 {
  font-size: 22px;
}

p, h2, h3, input, li {
  font-family: "roboto", sans-serif;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    border-top-color: #9356dc;
    border-right-color: #9356dc;
    border-bottom-color: #9356dc;
    border-left-color: #9356dc;
  }
  25% {
    -webkit-transform: rotate(180deg) scale(0.5);
    transform: rotate(180deg) scale(0.5);
    border-top-color: #FF79DA;
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
    border-top-color: #99e2d0;
    border-right-color: #99e2d0;
    border-bottom-color: #99e2d0;
    border-left-color: #99e2d0;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0);
    transform: rotate(720deg) scale(0);
    border-top-color: #9356dc;
    border-right-color: #9356dc;
    border-bottom-color: #9356dc;
    border-left-color: #9356dc;
  }
}
@keyframes vanish {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes menu_appear {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes check_rotate {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes filled {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .city {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
}
main .city i {
  font-size: 16px;
  color: #353535;
}
main .city .search__city {
  outline: 0 !important;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #353535;
  background-color: #EAEAEA;
}

main .explore {
  text-align: center;
  background-color: #f9f8f6;
  padding-bottom: 15px;
}
main .explore h2 {
  margin: 0;
  padding-top: 45px;
  font-size: 23px;
  font-weight: 700;
}
main .explore__btn {
  width: 60%;
  height: 50px;
  font-size: 17px;
  margin-bottom: 40px;
  background: linear-gradient(#e991d1 10%, #9356dc 90%);
  border-radius: 27px;
  cursor: pointer;
  padding: 15px;
  color: white;
  font-size: 18px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  transition-duration: 1s;
  box-shadow: 1px 4px 5px 0px grey;
}
main .explore__btn:hover {
  transition: 0.4s;
  filter: brightness(110%);
  box-shadow: 7px 12px 14px 0px grey;
}
main .explore p {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 32px;
  color: black;
  font-size: 19px;
  font-weight: lighter;
  font-family: "roboto", sans-serif;
}

.fonction h2 {
  height: 60px;
  font-size: 23px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 66px;
  margin-left: 20px;
}
.fonction h2.restaurants__title {
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 24px;
}
.fonction .fontion__list {
  display: flex;
}
.fonction .fonction__item {
  width: 90%;
  align-items: center;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  background-color: #f2F2F2;
  margin-left: 25px;
  margin-bottom: 25px;
  height: 70px;
  box-shadow: 3px 3px 15px lightgrey;
}
.fonction .fonction__item .fonction__num {
  background-color: #9356dc;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 27px;
  margin-left: -10px;
}
.fonction .fonction__item .fonction__icon {
  width: 20px;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
}
.fonction .fonction__item .fonction__txt {
  font-size: 16px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding-left: 15px;
  color: black;
}
.fonction .fonction__item:hover {
  transition: 1.5s;
  background-color: #efe6fb;
}
.fonction .fonction__item:hover .fonction__icon {
  transition: 1.5s;
  filter: brightness(97%);
  color: #9356dc;
}

.loader {
  width: 100%;
  height: 100%;
  background: #F0F0F0;
  position: fixed;
  inset: 0;
  opacity: 0.95;
  z-index: 1000;
  animation: vanish 1s 2s forwards;
}

.loader_anim {
  position: fixed;
  inset: 0;
  margin: auto;
  margin-top: 270px;
  border: 14px solid;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: loader 3s forwards;
}

/*****Home Page Header*****/
.index_resto {
  text-align: center;
  position: relative;
  justify-content: center;
  margin: 0;
  font-size: 33px;
  padding-top: 20px;
  padding-bottom: 15px;
  box-shadow: -1px -3px 13px 0px grey;
}
.index_resto img {
  width: 160px;
  height: 30px;
}

.explore button:hover {
  filter: brightness(110%);
}

#footer {
  background-color: #353535;
  color: #fff;
  padding: 25px;
}

.footer__title {
  font-family: "shrikhand", cursive, sans-serif;
  font-size: 20px;
  font-weight: inherit;
  margin-bottom: 15px;
}
.footer__li {
  list-style: none;
  padding: 0;
}
.footer__li--item {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}
.footer__li--item a {
  color: #fff;
  text-decoration: none;
}
.footer__li--item a:hover {
  color: #AF7AC5;
}
.footer__li--item i {
  width: 25px;
  font-size: 15px;
}

#restaurants {
  background-color: #F2F2F2;
  padding: 40px 20px;
  margin-top: 38px;
}
#restaurants .card {
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 3px 3px 15px lightgrey;
}
#restaurants .card a {
  text-decoration: none;
}
#restaurants .card .card__image {
  display: flex;
  position: relative;
}
#restaurants .card .card__image img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#restaurants .card .card__image__textcover {
  position: absolute;
  padding: 7px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  top: 15px;
  right: 15px;
}
#restaurants .card .card__descript {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
#restaurants .card .card__descript .card__descript__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 7px;
  font-size: 19px;
  font-weight: bold;
}
#restaurants .card .card__descript .card__descript__place {
  font-size: 17px;
}
#restaurants .card .card__descript__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  font-size: 23px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#restaurants .card .card__descript__icon .empty-heart {
  position: absolute;
  z-index: 2;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 800ms;
}
#restaurants .card .card__descript__icon .filled-heart {
  position: absolute;
  z-index: 3;
  font-size: 0;
}
#restaurants .card .card__descript__icon:hover .empty-heart {
  color: transparent;
  transition: all 1.6s;
}
#restaurants .card .card__descript__icon:hover .filled-heart {
  background: -webkit-linear-gradient(to bottom, #9356dc, #FF79DA);
  background: linear-gradient(to bottom, #9356dc, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
  font-size: 24px;
}

header {
  position: relative;
  align-items: baseline;
}
header .home_back {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}
header .back__icon {
  color: #1a1818;
  font-size: 22px;
  margin-left: 25px;
}
header .title {
  width: 100%;
  margin: 15px 0;
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
}

main .banner {
  height: 245px;
  display: flex;
}

main .banner img {
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 60px 60px 0 0;
  margin-top: -60px;
  padding: 20px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.menu__title h2 {
  font-family: "shrikhand", cursive, sans-serif;
  font-size: 28px;
}
.menu__title .menu__title--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  font-size: 23px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.menu__title .menu__title--icon .empty-heart {
  position: absolute;
  z-index: 2;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 800ms;
}
.menu__title .menu__title--icon .filled-heart {
  position: absolute;
  z-index: 3;
  font-size: 0;
}
.menu__title .menu__title--icon:hover .empty-heart {
  color: transparent;
  transition: all 1.6s;
}
.menu__title .menu__title--icon:hover .filled-heart {
  background: -webkit-linear-gradient(to bottom, #9356dc, #FF79DA);
  background: linear-gradient(to bottom, #9356dc, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
  font-size: 24px;
}
.menu__dishes {
  margin-bottom: 35px;
}
.menu__dishes h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.menu__dishes .menu__dishes--title:after {
  display: block;
  content: " ";
  border-bottom: 3px solid #99e2d0;
  width: 38px;
  margin-top: 7px;
}
.menu__dishes .dish {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  animation: menu_appear 1s normal backwards;
  animation-duration: 3s;
}
.menu__dishes .dish:hover .dish__check {
  margin-right: 0;
}
.menu__dishes .dish:hover .dish__check i {
  animation: check_rotate 1s ease;
}
.menu__dishes .dish .dish__info {
  padding-left: 10px;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__dishes .dish .dish__info--name {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: black;
  margin: 0;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishes .dish .dish__info--content {
  margin: 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishes .dish:nth-child(1) {
  animation-delay: 0.3s;
}
.menu__dishes .dish:nth-child(2) {
  animation-delay: 0.6s;
}
.menu__dishes .dish:nth-child(3) {
  animation-delay: 0.9s;
}
.menu__dishes .dish:nth-child(4) {
  animation-delay: 1.2s;
}
.menu__dishes .dish:nth-child(5) {
  animation-delay: 1.5s;
}
.menu__dishes .dish:nth-child(6) {
  animation-delay: 1.8s;
}
.menu__dishes .dish:nth-child(7) {
  animation-delay: 2.1s;
}
.menu__dishes .dish:nth-child(8) {
  animation-delay: 2.4s;
}
.menu__dishes .dish:nth-child(9) {
  animation-delay: 2.7s;
}
.menu__dishes .dish__price {
  font-weight: 500;
  font-size: 16px;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: 15px;
}
.menu__dishes .dish__price p {
  margin: 0;
}
.menu__dishes .dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  margin-right: -70px;
  width: 70px;
  height: 70px;
  background-color: #99e2d0;
  transition: margin-right 0.8s;
}
.menu__dishes .dish__check i {
  color: white;
  font-size: 25px;
}
.menu__form {
  display: flex;
  justify-content: center;
  margin: 50px 0 70px 0;
}
.menu__btn {
  width: 50%;
  height: 50px;
  background: linear-gradient(#e991d1 10%, #9356dc 90%);
  border-radius: 27px;
  cursor: pointer;
  padding: 15px;
  color: white;
  font-size: 18px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  transition-duration: 1s;
  box-shadow: 1px 4px 5px 0px grey;
}
.menu__btn:hover {
  transition: 0.4s;
  filter: brightness(110%);
  box-shadow: 7px 12px 14px 0px grey;
}

/* Format tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .explore__btn {
    width: 230px;
  }
  .fonction__list {
    display: flex;
    padding-right: 20px;
  }
  .card {
    width: 45%;
  }
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #restaurants .card .card__image img {
    width: 450px;
    height: 200px;
  }
  #footer {
    text-align: center;
  }
  .footer__title {
    font-size: 30px;
  }
}
/* Format desktop */
@media screen and (min-width: 1025px) {
  header {
    font-size: 50px;
    letter-spacing: 5px;
  }
  header .home_back {
    top: -10px;
  }
  header .back__icon {
    margin-left: 25px;
    font-size: 25px;
  }
  header .title {
    font-size: 40px;
  }
  header.index_resto h1 {
    font-size: 40px;
  }
  main .city {
    padding-left: 40px;
  }
  main .city .city i {
    font-size: 20px;
  }
  main .city .city .search__city {
    font-size: 20px;
  }
  main .explore br {
    display: none;
  }
  main .explore h2 {
    padding-bottom: 25px;
  }
  form.explore__form {
    padding-top: 20px;
  }
  main .explore__btn {
    width: 400px;
  }
  .fonction__list {
    display: flex;
    padding-right: 20px;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    gap: 110px;
  }
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .banner {
    height: 500px;
  }
  main .banner .img {
    width: 100%;
  }
  .menu__dishes {
    margin: 0;
  }
  .menu__dishes--title {
    padding-bottom: 20px;
  }
  .menu__btn {
    width: 20%;
    margin-top: -45px;
    margin-bottom: 0px;
  }
  #restaurants .card .card__image img {
    width: 300px;
    height: 200px;
  }
  #footer {
    text-align: center;
  }
  .footer__title {
    font-size: 30px;
  }
  .media-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .media-desktop .menu__dishes {
    width: 29%;
  }
  .media-desktop .menu__dishes .dish {
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
