main .explore {
    text-align: center;
    & h2 {
        margin: 0;
        padding-top: 45px;
        font-size: 23px;
    }
    & p {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 32px;
        font-size: 18px;
    }
    & button {
        width: 53%;
        background: linear-gradient( #ff79da 10%, #9356dc 90%);
        border-radius: 27px;
        padding: 15px;
        color: white;
        font-size: 15px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
} 