@import "../utils/box-shadows";
.fonction {
    height: 400px;
    padding-top: 40px;
    & h2 {
        height: 60px;
        font-size: 25px;
        margin-left: 20px;
    }
    & .fontion__list {
        display: flex;
    }
    & .fonction__item {
        width: 90%;
        align-items: center;
        display: flex;
        cursor: pointer;
        border-radius: 20px;
        background-color: #f2F2F2;
        margin-left: 25px;
        margin-bottom: 25px;
        height: 70px;
        @include standard-shadow;
        & .fonction__num {
            background-color: #AF7AC5;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 15px;
            line-height: 27px;
            margin-left: -10px;
        }
        & .fonction__icon {
            width: 20px;
            height: 20px;
            font-size: 17px;
            line-height: 20px;
            padding: 0 9px 0 15px;
            // color: darkgrey;
            font-weight: bold;
                    }
        & .fonction__txt {
            font-size: 19px;
            font-weight: bold;
        }
    }
    & .fonction__item:hover {
        transition: 0.4s;
        filter: brightness(97%);
        color: #AF7AC5;
    }
}