.loader_anim{
    position: fixed;
    inset: 0;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 10px solid ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: loader 4s linear infinite;
    
  }

 