main .city {
    display: flex;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    gap: 17px;

    & i {
        font-size: 16px;
        color: #353535;
    }

    & .search__city {
        outline: 0 !important;
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        color: #353535;
        background-color: #EAEAEA;
    }
}

main .explore {
    text-align: center;
    background-color: #f9f8f6;
    padding-bottom: 15px;

    & h2 {
        margin: 0;
        padding-top: 45px;
        font-size: 23px;
        font-weight: 700;
    }

    &__btn {

        @include btn;
        width: 60%;
        height: 50px;
        font-size: 17px;
        margin-bottom: 40px;
    }

    &__btn:hover {
        @include btn_hover;
        @include standard-shadow;
    }

    & p {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 32px;
        color: black;
        font-size: 19px;
        font-weight: lighter;
        font-family: $font-fam-text;
    }
}

.fonction {
    & h2 {
        height: 60px;
        font-size: 23px;
        font-weight: 700;
        padding-top: 40px;
        padding-bottom: 66px;
        margin-left: 20px;
    }

    & h2.restaurants__title {
        margin: 0px;
        padding-bottom: 0px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 24px;
    }

    & .fontion__list {
        display: flex;
    }

    & .fonction__item {
        width: 90%;
        align-items: center;
        display: flex;
        cursor: pointer;
        border-radius: 20px;
        background-color: #f2F2F2;
        margin-left: 25px;
        margin-bottom: 25px;
        height: 70px;
        @include cards-shadow;

        & .fonction__num {
            background-color: $colorPrimary;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 15px;
            line-height: 27px;
            margin-left: -10px;
        }

        & .fonction__icon {
            width: 20px;
            height: 20px;
            font-size: 17px;
            line-height: 20px;
            padding-left: 25px;
            padding-right: 25px;
            font-weight: bold;
        }

        & .fonction__txt {
            font-size: 16px;
            font-family: $font-fam-text;
            font-weight: 500;
            padding-left: 15px;
            color: black
        }
    }

    & .fonction__item:hover {
        transition: 1.5s;
        background-color: #efe6fb;
    }

    & .fonction__item:hover .fonction__icon {
        transition: 1.5s;
        filter: brightness(97%);
        color: $colorPrimary;
    }
}

.loader {
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    position: fixed;
    inset: 0;
    opacity: 0.95;
    z-index: 1000;
    animation: vanish 1s 2s forwards;
}

.loader_anim {
    position: fixed;
    inset: 0;
    margin: auto;
    margin-top: 270px;
    border: 10px solid;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: loader 3s forwards;
    animation-fill-mode: forwards;
}