@keyframes loader {
    0%{
      
      transform: rotate(0deg) scale(0);
      border-top-color: $colorPrimary;
      border-right-color: $colorPrimary;
      border-bottom-color: $colorPrimary;
        border-left-color: $colorPrimary;
    }
    25%{
        transform: rotate(180deg) scale(0.5);
        border-top-color: $colorSecondary;
        border-right-color: $colorSecondary;
        border-bottom-color: $colorSecondary;
        border-left-color: $colorSecondary;
    }
    50% {
       transform: rotate(360deg) scale(1.5);
       border-top-color: $colorTertiary;
      border-right-color: $colorTertiary;
      border-bottom-color: $colorTertiary;
      border-left-color: $colorTertiary;
    }
    75%{
        transform: rotate(5000deg) scale(0.5);
        border-top-color: $colorPrimary;
      border-right-color: $colorSecondary;
      border-bottom-color: $colorTertiary;
      border-left-color: $colorSecondary;
    
    }
    100%{
       transform: rotate(720deg) scale(0);
       border-top-color: $colorPrimary;
      border-right-color: $colorPrimary;
      border-bottom-color: $colorPrimary;
      border-left-color: $colorPrimary;
    }
    
  }

  @keyframes vanish {
    0% {
      opacity: 0.9;
      
    }
    12% {
      opacity: 0.8;
     
    }
    25% {
      opacity: 0.7;
      
    }
    38% {
      opacity: 0.6;
      
    }
    50% {
      opacity: 0.5;
      
    }
    65% {
      opacity: 0.4;
     
    }
    80% {
      opacity: 0.3;
      
    }
    90% {
      opacity: 0.2;
     
    }
    100% {
      opacity: 0;
     z-index: -1;
      
    }
  }

  @keyframes menu_appear {
    from {
      -webkit-transform: translateY(10px);  
      transform: translateY(10px);
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  to {
      -webkit-transform: translateY(10px);
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes check_rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}