@keyframes loader {
    0%{
      
      transform: rotate(0deg) scale(0);
      border-top-color: $colorPrimary;
      border-right-color: $colorPrimary;
      border-bottom-color: $colorPrimary;
        border-left-color: $colorPrimary;
    }
    25%{
        transform: rotate(0deg) scale(0.5);
        border-top-color: $colorSecondary;
        border-right-color: $colorSecondary;
        border-bottom-color: $colorSecondary;
        border-left-color: $colorSecondary;
    }
    50% {
       transform: rotate(360deg) scale(1.5);
       border-top-color: $colorTertiary;
      border-right-color: $colorTertiary;
      border-bottom-color: $colorTertiary;
      border-left-color: $colorTertiary;
    }
    75%{
        transform: rotate(0deg) scale(0.5);
        border-top-color: $colorPrimary;
      border-right-color: $colorSecondary;
      border-bottom-color: $colorTertiary;
      border-left-color: $colorSecondary;
    
    }
    100%{
       transform: rotate(720deg) scale(0);
       border-top-color: $colorPrimary;
      border-right-color: $colorPrimary;
      border-bottom-color: $colorPrimary;
      border-left-color: $colorPrimary;
    }
    
  }

  @keyframes vanish {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
  }