main .city {
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    gap: 17px;
    & i {
        font-size: 20px;
    }
    & .search__city {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        background-color: #EAEAEA;
    }
}
main .explore {
    text-align: center;
    background-color: #f9f8f6;
    padding-bottom: 15px;
    & h2 {
        margin: 0;
        padding-top: 45px;
        font-size: 26px;
        font-weight: bold;
    }
    &__btn {
        
        @include btn;
        
    }
    &__btn:hover {
        @include btn_hover;
        @include standard-shadow;
    }
    & p {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 32px;
        color: #a39f9f;
        font-size: 20px;
        font-family:"Roboto", sans-serif;
    }
    
} 