.index_resto {
    text-align: center;
    position: relative;
    justify-content: center;
    margin: 0;
    font-size: 33px;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: -1px -3px 13px 0px grey;
    & img {
        width: 160px;
        height: 30px;
    }
    }
   
    
