/* Format tablette */

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-max) {

    main .explore__btn {
        width: 230px;
    }

    .fonction__list {
        display: flex;
        padding-right: 20px;
    }

    .card {
        width: 45%;
    }

    .restaurants__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    #restaurants .card .card__image img {
        width: 450px;
        height: 200px;
    }

    #footer {
        text-align: center;
    }

    .footer__title {
        font-size: 30px;
    }
}


/* Format desktop */

@media screen and (min-width: $breakpoint-desktop) {
    header {
        font-size: 50px;
        letter-spacing: 5px;

        & .home_back {
            top: -10px;
        }

        & .back__icon {
            margin-left: 25px;
            font-size: 25px;
        }

        & .title {
            font-size: 40px;
        }
    }

    header.index_resto h1 {

        font-size: 40px;
    }

    main .city {
        padding-left: 40px;

        & .city i {
            font-size: 20px;
        }

        & .city .search__city {
            font-size: 20px;
        }
    }


    main .explore br {
        display: none;

    }

    main .explore h2 {
        padding-bottom: 25px;
    }

    form.explore__form {
        padding-top: 20px;
    }

    main .explore__btn {
        width: 400px;
    }

    .fonction__list {
        display: flex;
        padding-right: 20px;
        display: flex;
        padding-left: 60px;
        padding-right: 60px;
        gap: 110px;
    }

    .restaurants__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    main .banner {
        height: 500px;

        & .img {
            width: 100%;
        }
    }

    .menu__dishes {
        margin: 0;
    }

    .menu__dishes--title {
        padding-bottom: 20px;
    }

    .menu__btn {
        width: 20%;
        margin-top: -45px;
        margin-bottom: 0px;
    }

    #restaurants .card .card__image img {
        width: 300px;
        height: 200px;
    }

    #footer {
        text-align: center;
    }

    .footer__title {
        font-size: 30px;
    }

    .media-desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        .menu__dishes {
            width: 29%;

            & .dish {
                margin-bottom: 60px;
            }
        }
    }
}